---
import { getEntryBySlug } from "astro:content";

export interface Props {
  slug: string;
}

const member = await getEntryBySlug("members", Astro.props.slug);
const { Content } = await member.render();
---

<div class="member">
  <h3><a href={`/members/${Astro.props.slug}`}>{member.data.name}</a></h3>
  <img src={`/members/${Astro.props.slug}.png`} alt={member.data.name} />
  <p><Content /></p>

  <p>{member.data.from}</p>
</div>

<style>
  img {
    border-radius: 2em;
    width: 4em;
    height: 4em;
    object-fit: cover;
  }
  .member {
    margin: 0 auto;
    text-align: center;
  }
</style>
