---
import type { AstroComponentFactory } from "astro/dist/runtime/server";

export interface Props {
  frontmatter: {
    name: string;
    slug: string;
    from: string;
    bio: string;
  };
  url: string | undefined;
}

const { frontmatter, url } = Astro.props;
---

<div class="member">
  <h3><a href={url}>{frontmatter.name}</a></h3>
  <img src={`/members/${frontmatter.slug}.png`} alt={frontmatter.name} />
  <p></p>

  <p>{frontmatter.bio}</p>
  <p>{frontmatter.from}</p>
</div>

<style>
  img {
    border-radius: 2em;
    width: 4em;
    height: 4em;
    object-fit: cover;
  }
  .member {
    margin: 0 auto;
    text-align: center;
  }
</style>
