---
import Layout from "./Layout.astro";

export interface Props {
  name: string;
}

const { name, frontmatter } = Astro.props;
---

<Layout title={name}>
  <div class="member">
    <h3>{frontmatter.name}</h3>
    <img src={`/members/${frontmatter.slug}.png`} alt={frontmatter.name} />
    <p></p>
    <p>{frontmatter.bio}</p>
    <p>{frontmatter.from}</p>
  </div>
</Layout>

<style>
  img {
    border-radius: 2em;
    width: 4em;
    height: 4em;
    object-fit: cover;
  }
  .member {
    margin: 0 auto;
    text-align: center;
  }
</style>
